<!-- <div class="ui page grid">
  <div class="three column row">
    <div class="column">
      <h2 class="ui header">Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      <button class="ui tiny button m-top-10">View details »</button>
    </div>
    <div class="column">
      <h2 class="ui header">Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      <button class="ui tiny button m-top-10">View details »</button>
    </div>
    <div class="column">
      <h2 class="ui header">Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      <button class="ui tiny button m-top-10">View details »</button>
    </div>
  </div>
</div>
 -->
