<div class="following bar light">
    <div class="ui page grid">
        <div class="column">
            <div class="ui logo shape">
                <div class="sided">
                    <div class="active ui side">
                        <img class="ui image" src="/images/logo.png">
                    </div>
                </div>
            </div>
            <div class="ui right floated secondary menu">
                {% if not user %}
                <div class="item">
                  <iframe class="github" src="http://ghbtns.com/github-btn.html?user=semantic-org&amp;repo=semantic-ui&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
                </div>
                {% else %}
                    <div class="item">
                        <div class="ui mini image">
                            <img src="{{ user.user_image }}">
                        </div>
                        <a href="/user/profile" class="header">{{ user.user_name }}</a>
                    </div>
                    <div class="ui dropdown item">
                        <i class="plus icon"></i>
                        <i style="margin-left:0px;" class="dropdown icon" ></i>
                        <div class="menu">
                            <a href="/app/create" class="item">New App</a>
                        </div>
                    </div>
                    <a href="" class="item"><i class="setting icon"></i></a>
                    <a href="/logout" class="item">
                        <i class="counterclockwise rotated download icon" data-content="Sign Out" data-position="bottom center"></i>
                    </a>
                {% endif %}
            </div>
            <div class="ui large secondary network menu">

                {% for nav in navMenu %}
                    <a href="{{ nav.link }}" data-site="learn" class="view-ui item">{{ nav.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
